.headerBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #088081;
}
.table,
.th,
.td {
  border: 1px solid rgb(51, 65, 65);
  border-collapse: collapse;
}
.allTable {
}
.td {
  width: 50px;
}
.tdNo {
  text-align: center;
}
.tr {
  width: auto;
}
.tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.tr:nth-of-type(even) {
  background-color: #003870;
}
.adminBody {
  margin-top: 10px;
  background-color: #088081;
  display: flex;
  height: 60px;

  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.adminSelect {
  text-align: center;
  margin: 10px;
}

.tableHeader {
  gap: 3rem;
  width: 280px;
}
.label {
  background-color: #088081;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
  color: white;
  top: 5px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.label:hover {
  background-color: #0c5e5e;
}
.label1 {
  background-color: rgb(160, 36, 36);
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 15px;
}
.label1:hover {
  background-color: rgb(180, 51, 51);
}
.directionHeader {
  background-color: #088081;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 5px;
  height: 60px;
}
.tableHeader {
  background-color: #b2d8d9;
  color: #092258;
}

.pagination {
  width: 100%;
}
.viewBtn {
  background-color: #088081;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  height: 26px;
}
/* .deleteBtn {
  background-color: #81080e;
  width: 60px;
  margin-left: 40px;
  border: none;
  height: 26px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.editBtn {
  background-color: #088081;
  width: 60px;
  margin-left: 40px;
  border: none;
  height: 26px;
  border-radius: 8px;
} */
.tdLabel {
  width: 80px;
  margin-left: 40px;
}

.editBtn {
  background-color: #088081;
  width: 80px;
  height: 30px;
  align-items: center;
  color: white;
  top: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.editBtn:hover {
  background-color: #088081;
  opacity: 0.8;
}

.deleteBtn {
  background-color: rgb(160, 36, 36);

  height: 30px;
  cursor: pointer;
  width: 80px;

  align-items: center;
  color: white;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.deleteBtn:hover {
  background-color: rgb(160, 36, 36, 0.8);
}
