/* .plainBg {
}

.adminTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}*/
/* .adminBodyQuestion {
  height: 60px;
} */
.adminTopText {
  color: #fff;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.dropdownItemPlain {
  gap: 3rem;
  display: flex;
  margin-left: 280px;
  margin-top: 10px;
}
.bgDrop {
  height: 6vh;
  display: flex;
  background-color: #088081;
  gap: 3rem;
}
.img {
  max-width: 150px;
  max-height: 150px;
}
.questionBtn {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.submitBtn {
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 10px;
  background-color: #088081;
}
.clearBtn {
  border: none;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin: 10px;
  background-color: rgb(97, 26, 26);
}

.answerYear {
  margin-top: 5px;
  margin-left: 40px;
}
.plainTxt {
  font-size: 18px;
}
.dropdownItem {
  width: 120px;
  color: #088081;
}
.txt {
  color: #088081;
}

@media screen and (max-width: 400px) {
  .bgDrop {
    margin: 0;
    height: 7vh;
  }
  .adminBodyQuestion {
    margin-left: 10px;
  }
  .dropdownItemPlain {
    gap: 0rem;
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
  }
  .adminTop {
  }
  .adminTopText {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }

  .adminTop {
    margin: 0;
  }
  .dropdownItem1 {
    margin-left: 0px;
  }
  .bgDrop {
    gap: 1rem;
  }

  .img {
    max-width: 100px;
    max-height: 100px;
    margin-left: 50px;
  }
  .submitBtn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    padding: 5px;

    margin: 5px;
  }
  .selectDropdown {
    margin: 0;
  }
  .clearBtn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
  }
}
