.overAllBody {
  background-color: rgb(1, 4, 19);
  color: white;
  margin-top: 10px;
}

.txtEditor {
  margin-left: 8%;
  margin-right: 8%;
  color: #f9fcfa;
}
.plainImage {
  text-align: center;
}

.adminTopText {
  color: rgb(1, 4, 19);
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.dropdownItemPlain {
  gap: 3rem;
  display: flex;
  margin-left: 280px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bgDrop {
  width: 100%;
  height: 45px;
  margin: 10px;
  background-color: #f9fcfa;
  color: #252222;
}
.img {
  width: 150px;
  height: 80px;
}
.questionBtn {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.answerYear {
  margin-top: 5px;
  margin-left: 40px;
}
.plainTxt {
  font-size: 18px;
}

.chooseFileButton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #4caf50;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chooseFileButton:hover {
  background-color: #3e8e41;
}

.chooseFileButton input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.submitBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  width: 200px;
  margin: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submitBtn:hover {
  background-color: #3e8e41;
}
.clearBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  width: 200px;
  margin: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clearBtn:hover {
  background-color: #e53935;
}
