.table {
  border-collapse: collapse;
  table-layout: fixed;
}
.table,
.td,
.th {
  border: solid 1px #666;
  width: 100%;
  word-wrap: break-word;
}
.directionHeader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #088081;
}
