.groupedHeader {
  width: 100%;
  height: 45px;
  margin: 10px;
  background-color: #f9fcfa;
  color: #252222;
}

.groupedTop {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.txtEditor {
  margin-left: 8%;
  margin-right: 8%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity as needed */
  color: white; /* Set the text color to white or a color that contrasts with the background */
}
.groupMargin {
  background-color: rgb(1, 4, 19);
  color: white;
  margin-top: 30px;
}

.dropdownItem {
  display: flex;
  margin: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.img {
  width: 150px;
  height: 80px;
}
.questionNumber {
  margin-left: 80px;
  font-size: 28px;
}
.answerContainer {
  margin-left: 80px;
}

.chooseFileButton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #4caf50;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chooseFileButton:hover {
  background-color: #3e8e41;
}

.chooseFileButton input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.submitBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  width: 200px;
  margin: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submitBtn:hover {
  background-color: #3e8e41;
}
.clearBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  width: 200px;
  margin: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clearBtn:hover {
  background-color: #e53935;
}
