/* .groupedQuestionBody {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.groupedHeader {
  background-color: #088081;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img {
  height: 150px;
  width: 150px;
}
.editorContainer {
  justify-content: center;
  align-items: center;
}
.groupedTop {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 1rem;
}
.dropdownItem {
  display: flex;
  width: 200px;
  gap: 2rem;
}
.submitBtn1 {
  border-radius: 20px;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 120px;
  background-color: #088081;
}
.questionNumber {
  margin-left: 80px;
  font-size: 28px;
}
.answerContainer {
  margin-left: 80px;
}
@media screen and (max-width: 400px) {
  .groupedTop {
    margin: 0px;
    align-items: center;
    gap: 1rem;
  }
  .groupedHeader {
    background-color: #088081;
    display: block;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .groupMargin {
  }
  .img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
  }
}
