.directionQuestionBg {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff4b;
}
.directionHeader {
  background-color: #088081;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #ffffff;
}
.txt {
  color: #088081;
}
/*  */
.submitBtn {
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  background-color: #088081;
}
.submitBtn:hover {
  background-color: #0c7a7a;
}

@media screen and (max-width: 400px) {
  .editor {
    margin: 15px;
  }
  .submitBtn {
    height: 30px;
    margin: 10px;
    width: 100px;
    margin-left: 100px;
  }
}
