.directionQuestionBg {
  height: 100%;
  width: 100%;
  background-color: #ffffff4b;
}
.directionHeader {
  background-color: #088081;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #ffffff;
}
/*  */
.submitBtn {
  background-color: #088081;
  border-radius: 15px;
  border: none;
  height: 30px;
  margin: 20px;
  width: 200px;
  margin-left: 40%;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .editor {
    margin: 15px;
  }
  .submitBtn {
    height: 30px;
    margin: 10px;
    width: 100px;
    margin-left: 100px;
  }
}
