.bodyPlainQuestion {
  margin-left: 5%;
  margin-right: 5%;
}
.img {
  width: 100px;
  height: 100px;
  margin-left: 400px;
}
/* .updateBackMain {
  display: flex;
  align-items: center;
}
.updateBtn {
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  border: none;
  border-radius: 10px;
  color: white;

  background-color: #088081;
}
.backToMain {
  border: none;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(97, 26, 26);
} */

.questionBtn {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.submitBtn {
  background-color: transparent;
  background: white;
  font-family: "Times New Roman", Times, serif;
  width: 140px;
  height: 40px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: #088081;
  top: 5px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #666;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #088081;
  opacity: 0.8;
  color: white;
}

.backToViewBtn {
  background-color: transparent;
  background: white;
  height: 40px;
  cursor: pointer;
  width: 140px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 5px;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

.backToViewBtn:hover {
  background-color: rgba(160, 36, 36, 0.8);
  border-color: grey;
  color: white;
}

.txt {
  color: #088081;
}
