.bodyPlainQuestion {
  margin-left: 5%;
  margin-right: 5%;
}
.img {
  width: 100px;
  height: 100px;
  margin-left: 400px;
}
.updateBackMain {
  display: flex;
  align-items: center;
}
.updateBtn {
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  border: none;
  border-radius: 10px;
  color: white;

  background-color: #088081;
}
.backToMain {
  border: none;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(97, 26, 26);
}
.txt {
  color: #088081;
}
