/* .table,
.th,
.td {
  border: 1px solid rgb(51, 65, 65);
  border-collapse: collapse;
} */
/* .allTable {
}

.td {
  width: 50px;
}
.tdNo {
   padding: 10px; 
}
.tr {
  width: auto;
}
.tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.tr:nth-of-type(even) {
  background-color: #d1d5d9;
}
.adminBody {
  margin-top: 10px;
  background-color: #088081;
  display: flex;
  height: 60px;

  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.adminSelect {
  text-align: center;
  margin: 10px;
}

.tableHeader {
  gap: 3rem;
  width: 280px;
}
.label {
  background-color: #088081;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
  color: white;
  top: 5px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.label:hover {
  background-color: #0c5e5e;
}
.label1 {
  background-color: rgb(160, 36, 36);
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 15px;
}
.label1:hover {
  background-color: rgb(180, 51, 51);
}
.directionHeader {
  background-color: #088081;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 5px;
  height: 60px;
}
.tableHeader {
  background-color: #b2d8d9;
  color: #092258;
}

.pagination {
  width: 100%;} */

/* .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
} */

.table {
  border-collapse: collapse;
  table-layout: fixed;
}
.table,
.td,
.th {
  border: solid 1px #666;
  width: 100%;
  word-wrap: break-word;
}
.directionHeader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #088081;
}
.label {
  background-color: #088081;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
  color: white;
  top: 5px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.tdNo {
  padding: 50px;
}
.label1 {
  background-color: rgb(160, 36, 36);
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 15px;
}
