.table {
  border-collapse: collapse;
  table-layout: fixed;
}
.table,
.td,
.th {
  border: solid 1px #666;
  width: 100%;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.tdData {
  padding: 50px;
}
.tHeader {
  background-color: #b2d8d9;
}
tr:nth-child(even) {
  background-color: #dcdcdc;
}
tr:nth-child(even):hover {
  background-color: #a9a9a9;
}

.label {
  background-color: #088081;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  align-items: center;
  color: white;
  top: 5px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.label1 {
  background-color: rgb(160, 36, 36);
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
  color: white;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 15px;
}
.tdLabel {
  align-items: center;
  display: flex;
}
