.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.table {
  border-radius: 0.8rem;
}
.table,
.th,
.td {
  padding: 10px;
  border-collapse: collapse;
  align-items: center;
  background-color: #fffb;
}
.table h1 {
  height: 5%;
  background-color: #092258;
  color: #fffb;
  padding: 0.8rem 10rem;
}

.clerkTableHeader {
  background-color: #fffb;
  text-align: center;
  overflow: auto;
  overflow: overlay;
}

tbody::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

tbody:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr:hover {
  background-color: rgba(129, 24, 24, 0.4);
}

.tfoot {
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #008081;
  color: #fff;
  border-radius: 10px;
}
.viewBtn {
  background-color: #092258;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  margin: 5px;
}
