.table,
.th,
.td {
  border: 1px solid rgb(51, 65, 65);
  border-collapse: collapse;
}
.th {
  width: 100px;
}
.td {
  width: 50px;
}
.tdNo {
  padding: 10px;
}
.tr {
  width: auto;
}
.tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.tr:nth-of-type(even) {
  background-color: #d1d5d9;
}
