.top {
  background-color: #092258;
  height: 7vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  top: 0;
  z-index: 9999;
}
.topBalance {
  margin-right: 20px;
  width: 480px;
  display: inline-flex;
}
.balanceLabel  {
  color: white;
  margin: 15px;
  
}
.spanLabel{
  height:  25px;
  padding: 2px;
  width: 15%;
  background-color: #b2d8d9;
  color: #092258;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  
}

.rightBar {
  
  width: 100%;
  margin-top: 5vh;

  
  
}


.logoutBtn{
  font-size: 18px;
  margin: 5px;
  padding: 2px;
  width: 95px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #092258;
  background-color: #b2d8d9;
  margin-right: 40px;

}
.username{
  font-size: 18px;
  align-self: flex-start;
  color: #fff;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 20px;
  
}
.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width:45px;
  border-radius: 50%;
  background-color: #b2d8d9;
  align-self: flex-start;
  color: #fff;


}

.iconContainer{
  margin-left: 20px;
}
.selectDropdown {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b2d8d9;
  border-radius: 30px;
  margin-right: 300px;
  gap: 2rem;
}
.dataEditView {
background-color: #b2d8d9;
color: #092258;
font-family: 'Times New Roman', Times, serif;
font-size: 14px;
padding: 4px;
border-radius: 30px;
margin: 10px;
}
