.rightBar {
  margin-left: 15%;
  margin-right: 15%;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #092258;
  height: 60px;
  z-index: 9999;
}

.userProfileName {

  display: inline-flex;
  align-items: center;
}
.userIcon {
  height: 36px;
  width: 36px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #b2d8d9;
}
.iconContainer {
  color: #ffffff;
  margin-left: 15px;
  display: flex;
}
.username {
  font-size: 12px;
  margin-left: 15px;
  margin-top: 20px;
}
.userNameTxt {
  margin: 20px;
}
.selectionOption {
  margin: 20px;
  display: flex;
}
.selectDropdown {
  
  color: #092258;
  border-radius: 30px;
  padding: 3px;
  background-color: #b2d8d9;
  margin-left: 30px;

}

.topBalance2 {
  padding: 2px;
  gap: 5px;
  margin: 15px;
  display: inline-flex;
  align-items: center;
  margin-left: 40px;
}
.topBalance {
  margin: 15px;
}
.spanLabel {
  background-color: #b2d8d9;
  color: #092258;
  border-radius: 10px;
  height: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}
.balanceLabel {
  color: #ffffff;
  margin: 15px;
}
.logBtn {
margin-left: 50px;
}
.logoutBtn {
  font-size: 18px;
  width: 90px;
  padding: 2px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #092258;
  background-color: #b2d8d9;
}

.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25p;
  border-radius: 4px;
}
.selectionOption {
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  .rightBar {
    margin: 10px;
  }
  .header {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .iconContainer {
    color: #ffffff;
    margin-left: 35px;
    display: flex;
  }
  .rightHeader {
    float: none;
  }
  .userProfileName {
    display: block;
    width: 100%;
    float: right;
  }
  .selectionOption {
    margin-left: 0px;
  }
  .selectDropdown {
    margin: 10px;
    margin-left: 30px;
  }
  .topBalance2 {
    display: block;
    margin-top: 20px;

    margin-bottom: 10px;
  }
  .balanceLabel {
    margin-left: 20px;
    margin-top: 10px;
  }
  .spanLabel {
    margin-left: 35px;
    margin-top: 10px;
  }
  .logBtn {
    margin-left: 70px;
  }
}
