.top {
  background-color: #092258;
  height: 6vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  top: 0;
  z-index: 9999;
}
.topBalance {
  margin-right: 20px;
  width: 480px;
  display: inline-flex;
}
.balanceLabel  {
  color: white;
  margin: 15px;
  
}
.spanLabel{
  height: 26px;
  padding: 5px;
  width: 100px;
  background-color: #b2d8d9;
  color: #092258;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  
}

.content {
  display: flex;
  
}
.leftBar {
  height: 100%;
  width: 15%;
  background-color: #b2d8d9;
  position: fixed;
  bottom: 0;
}
.leftBarText {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 900;
  color: #092258;
  margin-top: 50px;
}
.rightBar {
  
  width: 100%;
  margin-left: 15%;
  margin-top: 8vh;

  
  
}
.ulLeftBar {
  list-style: none;
  margin-top: 10px;
  margin-left: 2px;
}
.btnList {
  background-color: #088081;
  width: 130px;
  margin-top: 30px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
.selectData {
  margin-left: 1050px;
  margin-top: 20px;
}
.logoutBtn{
  font-size: 18px;
  margin: 5px;
  padding: 7px;
  width: 100px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #092258;
  background-color: #b2d8d9;
  margin-right: 60px;

}
.username{
  font-size: 18px;
  align-self: flex-start;
  color: #fff;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 18px;
  
}
.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width:45px;
  border-radius: 50%;
  background-color: #b2d8d9;
  align-self: flex-start;
  color: #fff;


}

.iconContainer{
  margin-left: 20px;
}