.selectDropdown {
  color: #092258;
  border-radius: 30px;
  width: 108px;
  padding: 4px;
  background-color: #b2d8d9;
  margin-top: 10px;
}
@media screen and (max-width: 400px) {
  .selectDropdown {
    border-radius: 32px;
    width: 100px;
    margin-top: 0px;

    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
