body {
  background-color: aliceblue;
}
.table {
  width: 50%;
  margin-left: 5%;
  padding: 10px;
  text-align: center;
} 
.th {
  background-color: #008081;
  color: #fff;
}

  .td1, .td2{
  border: 1px solid #092258;
}
.td2 {
  color: #092258;
  font-size: 14px;
  padding: 6px;
} 
.textHeader {
  height: 60px;
  width: 100%;
  margin-left: 10px;
  background-color: #092258;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textHeader p {
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

.userNameTxt, .spanTotalData{

  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #008081;
  color: #fff;
  border-radius: 10px;
}



