.adminBg {
  height: 30px;
  background-color: #b2d8d9;
  display: flex;
}

.headerList {
  gap: 2rem;
  width: 100%;
}
.clerkNotification {
  float: left;
  display: inline-flex;
  gap: 2rem;
  margin: 15px;
}
.logBtn {
  float: right;
  margin: 10px;
}
.logoutBtn {
  background-color: #083e4e;
  color: white;
  font-size: 18px;
  float: right;
  height: 26px;
  border-radius: 10px;
  border: none;
}
.dropdownBg {
  background-color: #b2d8d9;
  height: 40px;

  display: flex;
}
.dropdownItem {
  background-color: #b2d8d9;
  color: #092258;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 4px;
  border-radius: 30px;
  margin-left: 30%;
}
.dataEditView {
  background-color: #b2d8d9;
  color: #092258;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 4px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.bodyAdmin {
}

@media screen and (max-width: 400px) {
  .adminBg {
    margin: 0;
  }
  .logoutBtn {
    font-size: 14px;
  }
  .dropdownItem {
    font-size: 16px;
    padding: 4px;
    margin-top: 10px;

    margin-left: 6%;
  }
  .dropdownBg {
    margin: 0;

    height: 45px;
  }
  .bodyAdmin {
    margin: 0;
    display: flex;
  }
}
