.table {
  border-collapse: collapse;
  table-layout: fixed;
}
.table,
.td,
.th {
  border: solid 1px #495770;
  width: 100%;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
}
thead .row {
  background-color: #2469ff;
  color: #e5e7eb;
  font-family: "Times New Roman", Times, serif;
  height: 40px;
}
.adminHeader {
  width: 100%;
  height: 45px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fcfa;
  color: #252222;
}

tr:nth-child(even) {
  background-color: #dcdcdc;
}
tr:nth-child(even):hover {
  background-color: #a9a9a9;
}
.tdLabel {
  width: 80px;
  margin-left: 10px;
}

.label {
  background-color: transparent;
  background: white;
  width: 80px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #088081;
  top: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #666;
  cursor: pointer;
}
.label:hover {
  background-color: #088081;
  opacity: 0.8;
  color: white;
}

.label1 {
  background-color: transparent;
  background: white;
  height: 30px;
  cursor: pointer;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 5px;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 10px;
}

.label1:hover {
  background-color: rgba(160, 36, 36, 0.8);
  border-color: grey;
  color: white;
}

.noColumn {
  width: 30px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
}
.tdNo {
  text-align: center;
}
.yearColumn {
  width: 35px;
  text-align: center;
}
.directionColumn {
  width: 300px;
}
.sectionColumn {
  width: 200px;
}
.manageColumn {
  width: 110px;
}
